* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  html, body, #root, .App {
    position: relative;
    min-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    background: #2D2D2D;
  }